<style>
#leaderboard{

    width: 729px;
    height: 90px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;

}

.stretch {
    width:100%;
    height:100%;
}

#med_rectangle{
        margin-top: -23px;
    width:250px;
    height: 300px;
    float:right;
    padding:0px;
    background-color: blue;
    
    background-size: 250px 300px;
    background-repeat: no-repeat;
}
#wide_skyscraper{
    
    margin-top: -23px;
    left: 125;
    width: 160px;
    height: 600px;
    float:right;
    padding:10px;
    background-color: green;    
}

#login{
padding-left: 120px;
padding-top: 60px;
}
</style>